@font-face {
    font-family: 'aifont';
    src: url('~assets/fonts/aifont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aifontf';
    src: url('~assets/fonts/aifontF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('~assets/fonts/Avenir-Medium-09.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Roman';
    src: url('~assets/fonts/Avenir-Roman-12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('~assets/fonts/Avenir-Heavy-05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('~assets/fonts/Avenir-Book-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gruppe F';
    src: url('~assets/fonts/Gruppe F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gruppe B';
    src: url('~assets/fonts/Gruppe B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gruppe S';
    src: url('~assets/fonts/Gruppe S.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
